<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css/styles.css'>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4> This website is a sample for node whether app</h4>
        <img class='portrait' src='img/user.jpg'>
    </div>
    
    {{>footer}}
</body>

</html>